@use './../utils' as *;
@use './../base/fonts' as *;

html.is-active {
    overflow-y: hidden;
}
#header {
    width: 100%;
    background-color: transparent;
    position:fixed;
    z-index: 100;
    transition: 0.4s;
    .inner {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    h1 {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        a {
            img {
                width: 60px;
            }
        }
    }

    .nav {
        height: 80px;
        display: flex;
        align-items: center;
        margin-left: 100px;
        ul {
            display: flex;
            li {
                margin-left: 100px;
                position: relative;
                a {
                    font-size: 20px;
                    transition: 0.3s;
                    color: #fff;
                    span{
                        @include font-20px-B;
                        font-family: $font-sub;
                    }
                    &:hover {
                        color: tomato;
                    }
                }
            }
        }
    }

    .util{
        display: flex;
        align-items: center;
        gap: 20px;
        form{
            border: 1px solid #fff;
            border-radius: 50px;
            width: 140px;
            height: 30px;
            position: relative;
            
            input[type="text"]{
                background: none;
                border: none;
                width: 130px;
                height: 30px;
                padding: 0 20px 0 10px;
                color: #fff;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                &:focus{
                    outline: none;
                    box-shadow: none;
                }
            }
            i{
                font-size: 16px;
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-45%);
                color: #fff;
            }
        }
        ul{
            display: flex;
            li{
                color:#fff;
            }
            &.mymenu{
                gap:20px;
                li{
                    cursor: pointer;
                    font-size: 16px;
                   &:first-child{
                    position: relative;
                        &::after{
                        content: "";
                        display:block;
                        width: 1px;
                        height: 14px;
                        background: #fff;
                        position: absolute;
                        right: -10px;
                        top: 50%;
                        transform: translateY(-60%);
                        }
                    }
                }
            }
            &.reward{
                cursor: pointer;
                gap: 10px;
                background:rgba($color:#fff, $alpha: 0.1);
                width: 110px;
                height: 22px;
                border-radius: 50px;
                justify-content: center;
                align-items: center;
                li{
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    img{
                        margin-right: 5px;
                        display: block;
                        height: 15px;
                    }
                }
            }
        }
    }

    &.on{
        background-color: #fff;
        .nav{
            ul{
                li{
                    a{
                        color: #000;
                        &:hover{
                            color: tomato;
                        }
                    }
                }
            }
        }
        .util{
            form{
                border-color: #000;
                input[type="text"]{
                    color: #000;
                }
                i{
                    color: #000;
                }
            }
            ul{
                li{
                    color: #000;
                }
                &.mymenu{
                    li{
                        &:first-child{
                            &::after{
                                background: #000;
                            }
                        }
                    }
                }
                &.reward{
                    background:rgba($color: #000000, $alpha: 0.1);
                    li{
                        img{
                            filter:invert(1);
                        }
                    }
                }
            }
        }
    }

    .top-menu {
        position: absolute;
        right: 0;
        top: 10px;
        display: flex;
        li {
            margin-left: 25px;
            a {
                font-size: 15px;
            }
        }
    }

    @include tablet {
        // background: pink;
        .inner {
            height: 70px;
            width: 100%;
        }
        h1 {
            left: 10px;
            a img {
                width: 40px;
            }
        }
        .nav ul li {
            margin-left: 40px;
            a {
                font-size: 16px;
            }
        }
    }
}
