@use '../base' as *;
@use '../utils' as *;

@mixin inputStyle{
    border: 1px solid #b1b1b1;
    border-radius: vw(4);
    width: vw(256);
    height: vw(35);
    padding-left: vw(10);
    @include font-15px;
    &:focus{
        outline:none;
    }
}