@use '../../../styles/utils' as *;
@use '../../../styles/base' as *;
@use '../../../styles/ui/ottListCard' as *;

//font-family:$font-sub
.ottDetail {
    width: 100%;
    background: $black;
    .con3-inner {
        padding-top: vw(100);
        width: vw(1600);
        height: vw(780);
        margin: 0 auto;
        position: relative;
        .vod {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: vw(40);
            strong {
                @include font-30px-B;
                color: $white;
            }
            .line {
                width: vw(1440);
                height: vw(1);
                background: $white;
            }
        }
        .vodlist {
            @include OttlistCard;
        }
    }
}
