@use '../../../styles/utils' as *;
@use '../../../styles/base' as *;

.ottMainCon4 {
    width: 100%;
    height: vw(1000);
    overflow: hidden;

    display: flex;
    align-items: center;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease-in-out;

    .slider-container {
        width: 100%;
        height: vw(680);
        overflow: hidden;

        .slick-slide {
            transform: scale(0.8);
            div {
                width: vw(900);
                height: vw(680);
                border-radius: vw(30);
                outline: none;
                overflow: hidden;
                @include ottMainDropShadow;
                position: relative;

                .posterImg {
                    width: 100%;
                    height: vw(440);
                    object-fit: cover;
                }
                span {
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: vw(40);
                    height: vw(50);
                    border-radius: 0 0 vw(5) vw(5);
                    background: $sub3;
                    top: 0;
                    left: vw(40);

                    color: $white;
                    @include font-18px-SB;
                }
                .ottInfo {
                    height: vw(240);
                    padding: 30px;
                    box-sizing: border-box;
                    position: relative;

                    background: rgba(255, 255, 255, 0.1);
                    backdrop-filter: blur(10px) saturate(120%);
                    .titleLogo {
                        margin-bottom: vw(20);
                    }
                    p {
                        color: $white;
                        @include font-14px;
                    }
                    button {
                        position: absolute;
                        bottom: vw(30);
                        right: vw(30);
                    }
                }
            }
        }

        .slick-center {
            transform: scale(1);
            transition: all 0.3s ease;
        }

        .slick-prev,
        .slick-next {
            z-index: 10;

            &:before {
                font-size: 30px;
            }
        }
    }
}
