@use '../../../styles/base' as *;
@use '../../../styles/utils' as *;
@use '../../../styles/ui/modal' as *;

.modal-overlay{
    @include overlay;
.modal{
    @include modalLayout;
    &.editInfo{
        background-image: url('/images/components/bg_flower.png');
        @include infoInputs;
    }
    &.joinInfo{
        background-image: url('/images/components/bg_flower.png');
        @include infoInputs;
    }
    &.login{
        @include login-agree;
        .bottom{
            display: flex;
            justify-content: space-between;
            li{
                &:first-child{}
                &:last-child{}
            }
        }
    }
    &.joinAgree{
        background-image: url('/images/components/bg_tree.png');
        @include login-agree;
    }

}
}