@use '../../styles/utils' as *;
@use '../../styles/base' as *;
@use 'sass:list';

$y-values: -20px, 30px, -10px, 20px, -15px, 25px, -5px, 15px;

.home {
    width: 100%;
    .inner {
        padding: vw(100, 0);
    }
    h2 {
        @include font-32px-B;
    }
    @include tablet {
    }
}
.mainvisual {
    width: 100%;
    overflow: hidden;
    img {
        width: 100%;
    }
}

/* section1 영역 */
.section1-main {
    width: 100%;
    height: vw(1300);
    background-image: url(images/con1_bg.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    overflow: hidden;
    .top-text {
        @include font-105px-B;
        padding-top: vw(170);
        margin-left: vw(85);
        p {
            color: $main1;
            font-family: $font-sub;
        }
    }
    .image-grid {
        padding-top: vw(124);
        margin-left: vw(85);
        display: flex;
        gap: vw(80);
        cursor: grab;
        .image-box {
            flex: 0 0 auto;
            width: vw(380);
            height: vw(420);

            border-radius: vw(10);
            position: relative;
            box-shadow: 0 0.375rem 1rem rgba(0, 0, 0, 0.1);

            // ✅ 개별 요소 위치 조정

            $y-values: (vw(50), vw(0), vw(90), vw(35), vw(60), vw(0), vw(90), vw(30));

            @for $i from 1 through list.length($y-values) {
                &:nth-child(#{$i}) {
                    transform: translateY(list.nth($y-values, $i));
                }
            }
            .top-font {
                position: absolute;
                color: transparent;
                @include font-160px-B;
                -webkit-text-stroke: 3px $main1;
                z-index: 10;

                // 좌표 값 리스트 (요소 8개에 맞춰 총 8개)
                $x-values: (vw(60), vw(220), vw(70), vw(180), vw(80), vw(170), vw(60), vw(180));
                $y-values: (vw(320), vw(320), vw(320), vw(320), vw(320), vw(320), vw(320), vw(320));

                // 리스트 길이만큼 반복해서 transform 적용
                @for $i from 1 through list.length($x-values) {
                    &[data-index='#{$i}'] {
                        transform: translate(list.nth($x-values, $i), list.nth($y-values, $i));
                    }
                }
            }

            img {
                width: 100%;
                height: 100%;
                border-radius: vw(10);
                object-fit: cover;
                display: block;
            }

            .overlay {
                position: absolute;
                inset: 0;
                border-radius: vw(10);
                background-color: rgba(0, 0, 0, 0.6); // ⭐ 60% 검정
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                opacity: 0;
                transition: opacity 0.3s ease;
            }

            .overlay-icon {
                width: 100%; // 아이콘 크기 조정 가능
            }

            .label {
                position: absolute;
                text-align: center;
                height: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                writing-mode: vertical-rl;
                text-orientation: mixed;
                color: $white;
                font-weight: 500;
                font-size: 25px;
                letter-spacing: 8px;
            }

            &:hover .overlay {
                opacity: 1;
            }
            &:hover .top-font {
                color: $main2;
                -webkit-text-stroke: 3px $main2;
            }
        }
    }
    .bottom-text {
        @include font-35px-SB;
        color: $sub5;
        padding-top: vw(224);
        padding-right: vw(37);
        text-align: right;
    }
}

/* section2 영역 */
.section2-main {
    font-family: $font-sub;
    width: 100%;
    height: vw(700);
    position: relative;
    overflow: hidden;
    .video {
        position: absolute;
        top: vw(-180);
        width: 100%;
        overflow: hidden;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.3);
            z-index: 0;
        }
    }
    .s2_middle-text {
        position: absolute;
        top: vw(200);
        right: vw(110);
        em {
            @include font-30px-R;
            color: $white;
            font-family: $font-main;
            text-align: center;
            display: block;
            margin-bottom: vw(30);
        }
        h3 {
            color: $white;
            @include font-55px-B;
            line-height: vw(80);
            font-family: $font-sub;
            span {
                font-family: $font-sub;
                &:first-of-type {
                    margin-left: 42px;
                    margin-right: 160px;
                    position: relative;
                    &::after {
                        content: '';
                        display: block;
                        background: $white;
                        width: 134px;
                        height: 2px;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translate(110%, -50%);
                    }
                }
            }
        }
    }
    .s2_bottom-text {
        display: flex;
        gap: vw(60);
        white-space: nowrap;
        position: absolute;
        bottom: vw(60);
        li {
            @include font-20px-B;
            color: $sub1;
            display: inline-block;
            font-family: $font-sub;
        }
    }
}

/* section3 영역 */
.section3-main {
    width: 100%;
    height: vw(2000);
    position: relative;
    background-color: #f8f8f8;
    overflow: hidden;

    .s3_main-title {
        margin-top: vw(220);
        margin-left: vw(95);
        z-index: 10;
        h1 {
            font-family: $font-sub;
            color: $main1;
            @include font-130px-B;
            margin: 0;
        }
    }

    // 상단 이미지 영역
    .s3_top-image {
        position: absolute;
        top: 7.375rem;
        left: 40%;
        z-index: 5;
    }

    // 하단 이미지 영역
    .s3_bottom-image {
        position: absolute;
        bottom: 11.75rem;
        left: 5%;
        z-index: 5;
    }

    // 중앙 이미지 영역
    .s3_center-image {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: vw(1920); // 고정 크기 대신 vw 단위 사용
        height: vw(840);
        z-index: 50; // 높은 z-index로 설정
        display: flex;
        justify-content: center;
        align-items: center;

        .main-image {
            width: 100%;
            height: 100%;
            object-fit: cover; // cover 대신 contain 사용
            object-position: 60% center;
            display: block;
            overflow: hidden;
        }
    }

    // 카드 공통 스타일
    .s3_card {
        position: absolute;
        width: vw(460);
        height: vw(550);
        background-color: #fff;
        border-radius: vw(10);
        box-shadow: vw(0) vw(8) vw(32) rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: 0.3s ease;

        // hover 시 나타날 이미지
        .card-hover-image {
            position: absolute;
            top: vw(-55);
            right: vw(-35);
            opacity: 0;
            transform: translateY(-10px);
            transition: all 0.3s ease;
            z-index: 50;
            img {
                width: 110%;
                height: 110%;
                object-fit: contain;
            }
        }

        .card-content {
            position: absolute;
            top: vw(92);
            left: vw(50);

            h3 {
                color: $main1;
                @include font-55px-B;
                margin-bottom: vw(90);
                transition: color 0.3s ease;
            }

            .card-tag {
                color: #ff6b6b;
                @include font-24px-B;
                margin-bottom: vw(15);
                transition: color 0.3s ease;
            }

            p {
                color: $sub3;
                @include font-20px;
                opacity: 0.8;
                transition: color 0.3s ease;
            }
        }

        // hover 효과
        &:hover {
            background-color: $sub5;

            // hover 시 이미지 나타남
            .card-hover-image {
                opacity: 1;
                transform: translateY(0);
            }

            .card-content {
                h3 {
                    color: $sub1;
                }

                .card-tag {
                    color: $sub4;
                }

                p {
                    color: $sub1;
                }
            }
        }
    }

    // 개별 카드 위치
    .s3_card--top-right {
        top: vw(200);
        right: vw(110);
    }

    .s3_card--bottom-left {
        bottom: vw(555);
        left: vw(100);
    }

    .s3_card--bottom-right {
        bottom: vw(270);
        right: vw(360);
    }

    // 하단 메시지
    .s3_bottom-message {
        position: absolute;
        right: vw(70);
        bottom: vw(140);
        z-index: 10;
        p {
            color: $sub5;
            @include font-35px-SB;
        }
    }
}
/* section4 영역 */
.section4-main {
    width: 100%;
    height: vw(900);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: vw(100);
    background-color: #fff;
    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        white-space: nowrap;
        @include font-160px-B;
        li {
            display: inline-block;
            font-weight: bold;
            margin-right: vw(20); // 아이템 간격
        }
    }

    .s4_top-text {
        color: $sub5;
        opacity: 70%;
        width: max-content;
    }

    .s4_bottom-text {
        width: max-content;
        li {
            margin-left: vw(20);
        }
        color: $white;
        text-shadow: -2px -2px 0 $sub5, 0 -2px 0 $sub5, 2px -2px 0 $sub5, 2px 0 0 $sub5,
            2px 2px 0 $sub5, 0 2px 0 $sub5, -2px 2px 0 $sub5, -2px 0 0 $sub5;
    }
}

/* section5 영역 */
.section5-main {
    background-color: #f8f8f8;
    width: 100%;
    height: vw(1100);
    position: relative;
    overflow: hidden;

    .section5-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section5-content {
        display: flex;
        width: vw(1600);
        .section5-text-area {
            .section5-main-title {
                font-family: $font-sub;
                @include font-130px-B;
                color: #d5d5d5;
                margin-bottom: vw(130);
            }
            .section5-subtitle {
                margin-bottom: vw(50);
                h3 {
                    @include font-55px-B;
                    color: #333;
                    margin-bottom: vw(50);
                }

                p {
                    @include font-20px;
                    color: #666;
                }
            }
            .section5-cta {
                display: flex;
                gap: vw(15);
                cursor: pointer;
                transition: all 0.3s ease;
                &:hover {
                    .cta-arrow {
                        transform: translateX(10px);
                    }
                    .cta-text {
                        color: $main1;
                    }
                }

                .cta-text {
                    @include font-20px;
                    color: #333;
                    transition: color 0.3s ease;
                }

                .cta-arrow {
                    color: $main1;
                    @include font-20px;
                    transition: transform 0.3s ease;
                }
            }
        }
    }
    .section5-images {
        position: absolute;
        left: vw(1000);
        bottom: vw(170);
        width: 100%;
        display: flex;
        gap: vw(15);
        align-items: end;
        .image-container {
            background-color: #ddd;
            &.image1 {
                width: vw(200);
                height: vw(250);
            }

            &.image2 {
                width: vw(250);
                height: vw(400);
            }

            &.image3 {
                width: vw(350);
                height: vw(650);
            }

            // 이미지가 들어갈 때를 위한 스타일
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.3s ease;
            }

            &:hover img {
                transform: scale(1.05);
            }
        }
    }
}

/*
@include tablet {
    .home {
        .inner {
            padding: 50px 0;
            background-color: pink;
        }
        h2 {
            @include font-18px-B;
        }
    }
}
    */
/*
@include mobile {
    .home {
        .inner {
            padding: 3rem 0;
        }
        h2 {
            @include font-18px-B;
        }
    }
}
    너비는 퍼센트나 vw ...지만! 이번 것은 rem을 위주로 쓰고 너비는 퍼센트로 해라
    */
