.tourclassDetail{
    .inner{
        .left{
            background-image: url('/images/tourclass/bg_cloud.png');
            background-position: 0 0;
            background-repeat: no-repeat;
            background-size: contain;
        }
        .right{

        }
    }
}