@use '../../styles/utils' as *;
@use '../../styles/base' as *;
@use '../../styles/ui' as *;
@use '../../styles/ui/tourList' as *;

.top {
    .recommend {
        @include twoBoxes;
    }
    @media screen and (max-width: 393px) {
        margin-bottom: 50px;
    }
}
.TourClassList {
    margin: auto;
    @include tourList;
    @media screen and (max-width: 393px) {
        width: 355px;
        margin-top: 50px;
    }
}
