@use '../../../styles/utils' as *;
@use '../../../styles/base' as *;

.roundTap{
    width: vw(552);
    height: vw(48);
    border-radius: vw(50);
    display: flex;
    flex:1;
    margin: auto;
    margin-bottom: vw(100);
    position: relative;
    li{
        transition: 0.4s;
        &:first-child{
            background: $main1;
            position: absolute;
            left: 0;
            top: 0;
            width: vw(276);
            height: 100%;
            border-radius: vw(50);
        }
    &:not(:first-child){
        width: vw(276);
        height: 100%;
        border-radius: vw(50);
        cursor: pointer;
        transition: 0.3s;
        position: relative;
        span{
            @include font-24px-B;
            color: $white;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            line-height: vw(48);
        }
    }
}

}