@use '../../styles/base' as *;
@use '../../styles/utils' as *;

.tourclassDetail {
    .inner {
        padding: vw(200) 0;
        display: flex;
        justify-content: space-between;
        position: relative;
        &::before, &::after{
            content: "";
            display: block;
            position: absolute;
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: cover;
            width: vw(154);
            height: vw(67);
        }
        &::before{
            left: vw(-110);
            bottom: vw(930);
            background-image: url('/images/tourclass/bg_cloud.png');
        }
        &::after{
            right: vw(-110);
            bottom: vw(100);
            background-image: url('/images/tourclass/bg_cloud.png');
            transform: scaleX(-1);
        }
        .left {
            .img-wrap {
                width: vw(598);
                height: vw(700);
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    transform: scale(1.1);
                }
            }
        }
        .right {
            width: vw(925);
            .theme {
                display: flex;
                gap: vw(5);
                li {
                    width: vw(56);
                    height: vw(28);
                    color: $white;
                    border-radius: vw(100);
                    @include font-16px-SB;
                    line-height: vw(28);
                    text-align: center;
                    text-indent: vw(-2);
                    &.history {
                        background: $sub4;
                    }
                    &.art {
                        background: $main1;
                    }
                    &.healing {
                        background: $sub3;
                    }
                    &.life {
                        background: #23a33f;
                    }
                    &.fusion {
                        background: $blue;
                    }
                    &.making {
                        width: vw(70);
                        background: $sub4;
                    }
                    &.cooking {
                        width: vw(80);
                        background: $sub3;
                    }
                    &.experience {
                        width: vw(80);
                        background: #23a33f;
                    }
                }
            }
            .basic-info {
                margin-bottom: vw(80);
                h3 {
                    margin-top: vw(12);
                    padding-bottom: vw(26);
                    margin-bottom: vw(20);
                    width: 100%;
                    border-bottom: 1px solid $sub1;
                    position: relative;
                    font-family: $font-sub;
                    @include font-40px-SB;
                    .rate {
                        @include font-18px-B;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        color: $sub3;
                    }
                }
                .details {
                    color: $sub5;
                    display: flex;
                    gap: vw(20);
                    li {
                        @include font-16px-B;
                        position: relative;
                        padding-left: vw(20);
                        i {
                            position: absolute;
                            left: 0;
                            top: 7%;
                        }
                    }
                }
            }
            .tabs {
                li {
                    color: $sub2;
                    border-color: $sub2;
                    &.on {
                        color: $sub3;
                        border-color: $sub3;
                    }
                }
            }
        }
    }
}
