@use '../../styles/base' as *;
@use '../../styles/utils' as *;

.ottsub {
    background: $black;
    .inner {
        padding: 200px 0;
        .tabs {
            li {
                color: $white;
                border-color: $sub2;
                &.on {
                    color: $sub3;
                    border-color: $sub3;
                }
            }
        }
    }
    .sort {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: vw(18);
        color: $white;
        li {
            @include font-18px;
            margin-bottom: vw(20);
            i {
                margin-right: vw(10);
            }
        }
    }
    p {
        text-align: center;
        .button {
            margin-top: vw(250);
        }
    }
    @media screen and (max-width: 393px) {
        width: 100%;
        position: relative;
        .inner {
            margin-top: -150px;
            .ottclass {
                // margin-bottom: 50px;
            }

            .tabs {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                &.on {
                }
            }
        }
        .sort {
            margin-top: 120px;
            margin-bottom: -20px;
            li {
                display: inline-block;
                align-items: center;
                width: 42px;
                font-size: 12px;
                line-height: 1;
                i {
                }
            }
        }
        p {
            .button {
            }
        }
    }
}
