@use '../../styles/base' as *;
@use '../../styles/utils' as *;

.ottsub {
    background: $black;
    .inner {
        padding: 200px 0;
        .tabs {
            li {
                color: $white;
                border-color: $sub2;
                &.on {
                    color: $sub3;
                    border-color: $sub3;
                }
            }
        }
    }
    .sort {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: vw(18);
        li {
            @include font-18px;
            margin-bottom: vw(20);
            i {
                margin-right: vw(10);
            }
        }
    }
    p {
        text-align: center;
        .button {
            margin-top: 250px;
        }
    }
}
