.tabs{
    // margin-top: 200px;
    width: 100%;
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    text-align: center;
    li{
        cursor: pointer;
        &.on{
            border-bottom: 1px solid #000;
        }
    }
}