
// Pretendard
@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-Thin.otf')
        format('otf');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-ExtraLight.otf')
        format('otf');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-Light.otf')
        format('otf');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-Regular.otf')
        format('otf');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-Medium.otf')
        format('otf');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-SemiBold.otf')
        format('otf');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/fonst/Pretendard-Bold.otf')
        format('otf');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-ExtraBold.otf')
        format('otf');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-Black.otf')
        format('otf');
    font-weight: 900;
    font-display: swap;
}


// Aritaburi
@font-face {
    font-family: 'Arita buri';
    src:url('/fonts/AritaBuriKR-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Arita buri';
    src: url('/fonts/AritaBuriKR-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Arita buri';
    src: url('/fonts/AritaBuriKR-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Arita buri';
    src: url('/fonts/AritaBuriKR-HairLine.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Arita buri';
    src: url('/fonts/AritaBuriKR-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

$font-main:'Pretendard';
$font-sub:'Arita buri';