@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 700;
    src: local('Spoqa Han Sans Neo Bold'), url('/fonts/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
        url('/fonts/SpoqaHanSansNeo-Bold.woff') format('woff'),
        url('/fonts/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 500;
    src: local('Spoqa Han Sans Neo Medium'),
        url('/fonts/SpoqaHanSansNeo-Medium.woff2') format('woff2'),
        url('/fonts/SpoqaHanSansNeo-Medium.woff') format('woff'),
        url('/fonts/SpoqaHanSansNeo-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 400;
    src: local('Spoqa Han Sans Neo Regular'),
        url('/fonts/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
        url('/fonts/SpoqaHanSansNeo-Regular.woff') format('woff'),
        url('/fonts/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 300;
    src: local('Spoqa Han Sans Neo Light'),
        url('/fonts/SpoqaHanSansNeo-Light.woff2') format('woff2'),
        url('/fonts/SpoqaHanSansNeo-Light.woff') format('woff'),
        url('/fonts/SpoqaHanSansNeo-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 100;
    src: local('Spoqa Han Sans Neo Thin'), url('/fonts/SpoqaHanSansNeo-Thin.woff2') format('woff2'),
        url('/fonts/SpoqaHanSansNeo-Thin.woff') format('woff'),
        url('/fonts/SpoqaHanSansNeo-Thin.ttf') format('truetype');
}

// Pretendard
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff')
        format('woff');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff')
        format('woff');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff')
        format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
        format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff')
        format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff')
        format('woff');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff')
        format('woff');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff')
        format('woff');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff')
        format('woff');
    font-weight: 900;
    font-display: swap;
}

// KoPub Batang
@font-face {
    font-family: 'KoPub Batang';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/KoPubBatang-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'KoPub Batang';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/KoPubBatang-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'KoPub Batang';
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/KoPubBatang-Bold.woff2') format('woff2');
}

.kopubbatang {
    font-family: 'KoPub Batang', serif;
}

@font-face {
    font-family: 'Arita buri';
    src: url("./src/Arita-buri-SB.woff");
    src: url("./src/Arita-buri-SB.woff") format("woff"), url("./src/Arita-buri-SB.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Arita buri';
    src: url("./src/Arita-buri-M.woff");
    src: url("./src/Arita-buri-M.woff") format("woff"), url("./src/Arita-buri-M.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Arita buri';
    src: url("./src/Arita-buri-L.woff");
    src: url("./src/Arita-buri-L.woff") format("woff"), url("./src/Arita-buri-L.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Arita buri';
    src: url("./src/Arita-buri-HL.woff");
    src: url("./src/Arita-buri-HL.woff") format("woff"), url("./src/Arita-buri-HL.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Arita buri';
    src: url("./src/Arita-buri-B.woff");
    src: url("./src/Arita-buri-B.woff") format("woff"), url("./src/Arita-buri-B.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }