
// Pretendard
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff')
        format('woff');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff')
        format('woff');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff')
        format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
        format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff')
        format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff')
        format('woff');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff')
        format('woff');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff')
        format('woff');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff')
        format('woff');
    font-weight: 900;
    font-display: swap;
}


// Aritaburi
@font-face {
    font-family: 'Aritaburi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri-SemiBold.woff')
        format('woff');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Arita buri';
    src: url('./src/Arita-buri-SB.woff');
    src: url('./src/Arita-buri-SB.woff') format('woff'),
        url('./src/Arita-buri-SB.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Arita buri';
    src: url('./src/Arita-buri-M.woff');
    src: url('./src/Arita-buri-M.woff') format('woff'),
        url('./src/Arita-buri-M.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Arita buri';
    src: url('./src/Arita-buri-L.woff');
    src: url('./src/Arita-buri-L.woff') format('woff'),
        url('./src/Arita-buri-L.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Arita buri';
    src: url('./src/Arita-buri-HL.woff');
    src: url('./src/Arita-buri-HL.woff') format('woff'),
        url('./src/Arita-buri-HL.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arita buri';
    src: url('./src/Arita-buri-B.woff');
    src: url('./src/Arita-buri-B.woff') format('woff'),
        url('./src/Arita-buri-B.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

$font-main:'Pretendard';
$font-sub:'Arita buri';