@use "../../styles/utils" as *;
@use "../../styles/base" as *;

.tourclass {
  .inner {
    padding: 200px 0;
  }
  .tabs{
    li{
      color: gray;
      &.on{
        color: $main1;
        border-color: $main1;
      }
    }
  }
  .sort {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: vw(30);
    >li {
      position: relative;
      >span{
        cursor: pointer;
        @include font-18px;
        display: block;
        position: relative;
        padding-left: vw(25);
        i {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-43%);
        }
      }
      &:last-child{
        position: relative;
        .sortBox{
          width: vw(90);
          height: vw(140);
          position: absolute;
          right: 0;
          top: 100%;
          z-index: 100;
          display: none;
          &.on{
            display: block;
          }
          li{
            background: #e7e7e7;
            text-align: right;
            padding: vw(8) vw(16);
            @include font-16px;
            border-bottom: 1px solid #999;
            display: flex;
            justify-content: space-between;
            align-items: center;
            i{
              font-size: vw(12);
            }
            >span{
              cursor: pointer;
            }
            &:last-child{
              border-bottom-right-radius: vw(10);
              border-bottom-left-radius: vw(10);
              border: none;
            }
          }
        }
      }
      .filterBox{
        width: vw(393);
        height: vw(370);
        background: #e7e7e7;
        padding: vw(30) vw(30);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        border-radius: vw(10);
        border: 1px solid #999;
        display: none;
        &.on{
          display: block;
          position: absolute;
          z-index: 100;
          right: 0;
          top: 100%;
        }
        >li{
          &:first-child{
            padding-bottom: vw(30);
            border-bottom: 1px solid #969696;
          }
          &:last-child{
            padding-top: vw(20);
          }
          span{
            @include font-16px-M;
          }
          .themeTaps,
          .dayTaps{
            margin-top: vw(15);
            display: flex;
            flex-wrap: wrap;
            gap: vw(10);
            >li{
              padding: vw(4) vw(14);
              box-sizing: border-box;
              border: 1px solid #666;
              border-radius: vw(50);
              @include font-15px;
              background: $white;
              color: #666;
              cursor: pointer;
              &:first-child{
                margin-right: vw(215);
              }
              &.on{
                border-color: $sub3;
                background: rgba(244, 155, 171, 0.10);
              }
            }
          }
        }
      }
    }

  }
  p {
    text-align: center;
    .button {
      margin-top: vw(50);
    }
  }
}
